@import './reset.scss';

/*========Color=========*/
$mainColor:         #211c32;
$primaryColor:      #01bad4;
$secondaryColor:    #1b1627;
$mainCur:           #f85c3b;
$primaryCur:        #ff6633;
$secondaryCur:      #838c8c;
$mainTxt:           #192027;
$primaryTxt:        #d3ae4d;
$secondaryTxt:      #8c8c8c;
$thirdlyTxt:        #a2a8a8;
$white:             #fff;
$gray:              #797784;
$grey:              #f5f3f3;
$smoke:             #7a7784;
$off-white:         #cfcfcf;
$border:            #73707e;
$border-g:          #eee;
$s-border:          #414050;
$facbook:           #16559f;
$shadow:            #e6e6e6;


/*========Mixin=========*/

@mixin btn ($btnWidth:110px,$btnHeight: 36px){
  display: block;
  text-align: center;
  width: $btnWidth;
  height: $btnHeight;
  line-height: $btnHeight;
  cursor: pointer;
}

@mixin pm($padding:0px, $margin:0px){
  padding: $padding;
  margin: $margin;
}

@mixin borderR($radius:0) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin pos-abs ($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}

@mixin line-clamp($lines, $line-height: 1.3rem) {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines; // number of lines to show
  overflow: hidden;
  line-height: $line-height;
  max-height: $line-height * $lines;
}

@mixin animate($transPpt,$dlyTime:0s,$durTime:0.5s,$transFun:linear){
         -webkit-transition-property: $transPpt;
            -moz-transition-property: $transPpt;
              -o-transition-property: $transPpt;
                 transition-property: $transPpt;
            -webkit-transition-delay: $dlyTime;
               -moz-transition-delay: $dlyTime;
                 -o-transition-delay: $dlyTime;
                    transition-delay: $dlyTime;
         -webkit-transition-duration: $durTime;
            -moz-transition-duration: $durTime;
              -o-transition-duration: $durTime;
                 transition-duration: $durTime;
  -webkit-transition-timing-function: $transFun;
     -moz-transition-timing-function: $transFun;
       -o-transition-timing-function: $transFun;
          transition-timing-function: $transFun;
}


@mixin my-opacity($opacity:0.5){
  filter:alpha(opacity=$opacity * 100);
  -khtml-opacity: $opacity;
    -moz-opacity: $opacity;
         opacity: $opacity;
}

@mixin my-rgba($rgb,$alpha){
  background-color: rgba($rgb,$alpha);
}

@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@function makelongshadow($color) {
  $val: 0px 0px $color;
  @for $i from 1 through 200 {
    $val: #{$val}, #{$i}px #{$i}px #{$color};
  }
  @return $val;
}
@mixin longshadow($color) {
  text-shadow: makelongshadow($color);
}

@function calculateRem($size: 16) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

$breakpoints: (
  'sm': 'only screen and ( max-width: 320px)',
  'md': 'only screen and ( max-width: 750px)',
  'lg': 'only screen and ( max-width: 1200px)'
) !default;

@mixin respond-to($breakpoint) {
  $query: map-get($breakpoints, $breakpoint);
  @if not $query {
    @error 'No value found for `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.';
  }
  @media #{if(type-of($query) == 'string', unquote($query), inspect($query))} {
    @content;
  }
}

@mixin image-2x($image, $width, $height) {
    @media (min--moz-device-pixel-ratio: 1.3),
    (-o-min-device-pixel-ratio: 2.6/2),
    (-webkit-min-device-pixel-ratio: 1.3),
    (min-device-pixel-ratio: 1.3),
    (min-resolution: 1.3dppx) {
      /* on retina, use image that's scaled by 2 */
      background-image: url($image);
      background-size: $width $height;
    }
}

@mixin placeholder($color:$gray){
      &::-webkit-input-placeholder { color:$color;}/* WebKit browsers */
      &:-moz-placeholder { color:$color;}/* Mozilla Firefox 4 to 18 */
      &::-moz-placeholder { color:$color;} /* Mozilla Firefox 19+ */
      &:-ms-input-placeholder { color:$color;} /* Internet Explorer 10+ */
}

//iPhone 6尺寸作为设计稿基准
$vw_base: 750;
@function vw($px) {
    @return ($px / $vw_base) * 100vw;
}


/*body*/
body{
  background-color: $mainColor;
  font-family:Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei";
}